<div class="content">
  <div class="row">
    <div class="col-md-offset-3 col-md-9">
      books page!
    </div>
  </div>
</div>


<div class="authorsBar">
  <div class="vertical-text">
    Authors
  </div>
</div>

<div class="booksBar ">
  <div class="vertical-text">
    Books
  </div>
</div>
