<div class="row centerViewPort">
  <div class="col-md-5 col-xs-offset-1 leftViewPort">
    <a href="/authors"><img src="http://d32ogoqmya1dw8.cloudfront.net/images/sp/carl_ltc/wacn/writing.jpg" style="width:500px;" alt="authors" />
    <div class="authorsText">
      Authors
    </div>
    </a>
  </div>

  <div class="col-md-5 rightViewPort">
    <a href="/books"><img src="http://www.indigodaily.com/wp-content/uploads/2016/01/Reading-Fiction.jpg" style="width:500px;" alt="reading" />
    <div class="booksText">
      Books
    </div>
    </a>
  </div>
</div>
