<div class="content">
  <div class="row">
    <div class="col-md-offset-2 col-md-9">
      <form class="form input-group" action="/authors/createNewAuthor" method="post">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" name="firstName" value="">
        <br>
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" name="lastName" value="">
        <br>
        <label for="portraitUrl">Portrait Url:</label>
        <input type="text" class="form-control" name="portraitUrl" value="">
        <br>
        <input type="submit" class="btn-primary" name="name" value="Submit">
      </form>

    </div>
  </div>
</div>



<a href="/authors">
<div class="authorsBar">
  <div class="vertical-text">
    Authors
  </div>
</div>
</a>

<a href="/books">
<div class="booksBar ">
  <div class="vertical-text">
    Books
  </div>
</div>
</a>
