body {
  padding: 50px;
}

.centerViewPort {
  border: 1px solid black;
}

.leftViewPort {
  border: 1px solid black;
}

.rightViewPort {
  border: 1px solid black;
}


.booksText {
  position: absolute;
  color: white;
  top: 100px;
  left: 200px;
  font-size: 50px;
}


.authorsText {
  position: absolute;
  color: white;
  top: 100px;
  left: 200px;
  font-size: 50px;
}

.authorsBar{
  position: absolute;
  top: 200px;
  left: 58px;
  width: 100px;
  height: 225px;
  background-color: #F15048;
  border-radius: 5px 5px 0px 0px;
}
.booksBar{
  position: absolute;;
  top: 425px;
  left: 58px;
  width: 100px;
  height: 225px;
  background-color: #BA514A;
  border-radius: 0px 0px 5px 5px;
}

.vertical-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
}


.coverThumbnail {
  height: 180px;
}

.photoHolder {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bookHolder{
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, .1);
  margin: 10px;
  border-radius: 5px;
}

.borderYes {
  border: 1px solid black;
}
