body {
  padding: 50px;
}

.centerViewPort {
  border: 1px solid black;
}

.leftViewPort {
  border: 1px solid black;
}

.rightViewPort {
  border: 1px solid black;
}

.booksText {
  position: absolute;
  color: white;
  top: 100px;
  left: 200px;
  font-size: 50px;
}


.authorsText {
  position: absolute;
  color: white;
  top: 100px;
  left: 200px;
  font-size: 50px;
}

.authorsBar{
  position: absolute;
  top: 200px;
  left: 58px;
  width: 100px;
  height: 225px;
  background-color: #F15048;
  border-radius: 5px 5px 0px 0px;
}
.booksBar{
  position: absolute;;
  top: 425px;
  left: 58px;
  width: 100px;
  height: 225px;
  background-color: #4EB593;
  border-radius: 0px 0px 5px 5px;
}

.vertical-text {
  position: relative;
	transform: rotate(90deg);
	transform-origin: left top 0;
  font-size: 25px;
  color: white;
  left: 70px;
  top: 10px;
}

.editDelete {
  color: rgba(0,0,0,.2);
  font-size: 30px;
}

.coverThumbnail {
  height: 180px;
  width: 180px;
}

.photoHolder {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bookHolder{
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, .1);
  margin: 10px;
  border-radius: 5px;
}

.borderYes {
  border: 1px solid black;
}

.btn-primary {
  border: none;
  border-radius: 5px;
}

.addAuthorButton {
  position: absolute;
  top: 135px;
  left: 276px;
  width: 100px;
  height: 33px;
  font-size: 13px;
  background-color: #F15048;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  text-align: center;
}

.addBookButton {
  position: absolute;
  top: 135px;
  left: 276px;
  width: 100px;
  height: 33px;
  font-size: 13px;
  background-color: #F15048;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  text-align: center;
}

.authorsSelect {
  height: 100px;
  width: 200px;
  overflow: scroll;
}

.authorCount {
  position: absolute;
  top: 150px;
  right: 150px;
  font-weight: bold;
}

.bookCount {
  position: absolute;
  top: 150px;
  right: 150px;
  font-weight: bold;
}

.limit{
  position: absolute;
  top: 135px;
  left: 400px;
}
